@import "../../styles/breakpoints";
$xxs: 376px;
$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1536px;

.section {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: rgb(0, 0, 0) !important;
    padding: 8px;



    .col_headings {
        display: flex;
        align-content: center;
        justify-content: space-around;
        border-bottom: solid 1px gainsboro;
        padding: 24px 8px;
        margin: 16px 0;


        @include respond(sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            font-size: 1vw;
            color: rgb(0, 0, 0) !important;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 150px;
            box-sizing: border-box;
            font-weight: 300;
            padding: 8px 16px;

            &:first-child {
                margin-right: 48px;
            }

        }

        @include respond(md) {
            display: none;
        }

    }

    .edu_Container {
        display: flex;
        flex-direction: column;



        .education {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: solid 1px rgb(185, 185, 185);
            padding: 24px 8px;
            margin: 16px 0;



            .title {
                margin-right: 48px;
                font-size: 2vw;
                font-weight: 500;
                transition: all 0.5s ease-in-out;

                @include respond(xs) {
                    font-size: 1.5rem;
                }

                &:hover {
                    color: rgb(159, 159, 159);
                    transform: translateX(-10px);
                }
            }

            p {
                font-size: 1vw;
                color: rgb(0, 0, 0);
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 150px;
                box-sizing: border-box;
                font-weight: 300;
                padding: 8px 16px;

                @include respond(xs) {
                    font-size: 0.8rem;
                    align-items: start;
                    justify-content: start;

                }

            }

            @include respond(sm) {
                align-items: start;
                justify-content: start;
                padding: 8px 0px;
            }
        }
    }

}

@media(max-width: 480px) {
    .education {
        flex-direction: column;
    }
}

@media(max-width:$sm) {
    .edu_Container {
        display: flex;
        width: 100%;



        .education {
            width: 100%;
            align-items: center;
            justify-content: start;
            padding: 1rem;

            margin: 0;
        }
    }
}