@import "../../styles/breakpoints";

$white-color: white;

.About {
    background-color: transparent;
    padding: 1px 200px;
    color: white !important;



    overflow: hidden;



    @include respond(sm) {
        padding: 1rem;
    }

    @include respond(md) {
        padding: 2rem;
    }

    @include respond(lg) {
        padding: 3rem;
    }

    .body {

        display: flex;
        flex-direction: column;
        gap: 6;

        // width: 100%;


        .header {

            p {
                color: white !important;
                font-size: 4vw;
                font-weight: 600;
            }

        }

        .buttons {
            display: flex;




            .category {
                display: flex;
                align-items: center;
                gap: 8;


            }




            button {
                background-color: rgb(29, 28, 28);
                color: white;
                border-radius: 3em;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 25px;
                padding-bottom: 25px;
                font-size: 1rem;
                font-weight: 400;
                border: none;
                border: solid rgb(167, 167, 167) 1px;
                cursor: pointer;
                transition: all 0.5s ease-in-out;

                &:hover {
                    background-color: white;
                    color: black;
                    transition: all 0.5s ease-in-out;
                    border: solid black 1px;
                }

                @include respond(xxs) {
                    padding: 0.5rem;
                    font-size: 0.2rem;
                }

                @include respond(xs) {
                    padding: 0.2rem;
                    font-size: 11px;
                }

                @include respond(sm) {
                    padding: 0.6rem;
                    font-size: 0.7rem;
                }

                @include respond(md) {
                    padding: 0.5rem;
                    font-size: 0.7rem;
                }
            }
        }
    }

    .child {
        margin-top: 32px;
    }
}