@use '../../styles/breakpoints' as breakpoints;

$white-color: white;
// ✅ _breakpoints.scss
$xxs: 376px;
$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1536px;

.About {
    background-color: transparent;
    padding: 1rem 1rem;

    position: relative;
    display: flex;
    overflow: hidden;

    // Mobile first approach




    @include breakpoints.respond(md) {
        padding: 3rem;
    }

    @include breakpoints.respond(lg) {
        padding: 4rem;
    }

    @include breakpoints.respond(xl) {
        padding: 2rem 8rem;
    }

    .body {

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 2rem;



        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            p {
                font-size: 4vw;
                font-weight: 600;
            }

        }

        .buttons {
            display: grid;
            align-items: start;
            padding: 1rem;
            gap: 2rem;
            grid-template-columns: repeat(4, 1fr);

            @include breakpoints.respond(sm) {
                gap: 0.5rem;
                grid-template-columns: repeat(2, 1fr);
            }



            button {
                background-color: black;
                color: white;
                border-radius: 3em;
                padding: 1.5rem;
                font-size: 1rem;
                font-weight: 400;
                border: none;
                border: solid rgb(167, 167, 167) 1px;
                cursor: pointer;
                transition: all 0.5s ease-in-out;

                @include breakpoints.respond(xxs) {
                    padding: 0.5rem;
                    font-size: 0.2rem;
                }

                @include breakpoints.respond(xs) {
                    padding: 0.2rem;
                    font-size: 1rem;
                }

                @include breakpoints.respond(sm) {
                    padding: 0.6rem;
                    font-size: 0.7rem;
                }

                @include breakpoints.respond(md) {
                    padding: 0.5rem;
                    font-size: 0.7rem;
                }

                &:hover {
                    background-color: black;
                    color: white;
                    transition: all 0.5s ease-in-out;
                    border: solid white 1px;
                }



            }
        }
    }

    .child {
        margin-top: 32px;
    }
}

@media (max-width:$xs) {
    .About {
        padding: 0.5rem;

    }

    .buttons {
        gap: 1rem;
    }
}

@media (max-width:$sm) {
    .About {
        padding: 0.5rem;

    }



}