// ✅ _breakpoints.scss
$breakpoint-xxs: 376px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1536px;

@mixin respond($breakpoint) {
    @if $breakpoint ==xxs {
        @media (max-width: $breakpoint-xxs) {
            @content;
        }
    }

    @else if $breakpoint ==xs {
        @media (max-width: $breakpoint-xs) {
            @content;
        }
    }

    @else if $breakpoint ==sm {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (max-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (max-width: $breakpoint-xl) {
            @content;
        }
    }

    @else {
        @warn "Unknown breakpoint: #{$breakpoint}";
    }
}