@media (max-width: 390px) {
    .slider {
        display: none !important;
    }

    .slidingImages {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

.sliding_Container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
    margin-top: 200px;
    margin-bottom: 300px;
    background-color: transparent !important;
    overflow: hidden;

    .slider {
        display: flex;
        position: relative;
        gap: 3vw;
        width: 120vw;
        left: -10vw;
        will-change: transform;





        .item {
            width: 25%;
            height: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .imageContainer {
                position: relative;
                width: 80%;
                height: 80%;

                img {
                    object-fit: contain;
                }
            }
        }
    }

}