:root {
  --font-anton: "General Sans", sans-serif

}

body {
  margin : 0px;
  background-color: rgb(0, 0, 0);
  font-family: var(--font-anton);
}

.main-wrapper {
  padding-top: 160px;
  min-height: 100vh;
}