:root {
  --font-anton: "General Sans", sans-serif;
  --text-color: #ffffff;
  --background-color: #000000;
}

body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-anton);
  overflow: hidden;
  cursor: default;
}

html {
  scrollbar-color: white gray;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  cursor: none;
  color: var(--text-color) !important;
  background-color: var(--background-color);
}

.main-wrapper {
  padding-top: 90px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

@media(max-width:600px) {
  .main-wrapper {
    padding-top: 60px;
    overflow: hidden;
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}
