:root {
  --font-anton: "General Sans", sans-serif

}

body {
  margin : 0px;
  background-color: black;
  font-family: var(--font-anton);
  overflow: hidden;

}

html {
  scrollbar-color: white gray;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.main-wrapper {
  padding-top: 90px;
  min-height: 100vh;
}

@media(max-width:600px) {
  .main-wrapper {
    padding-top: 60px;
    overflow: hidden;
  }
}