@import '../../styles/breakpoints';

@media screen and (max-width:600px) {
    .dec {
        padding: 1rem;
    }
}

.dec {
    margin-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;

    @include respond(sm) {
        padding: 1rem;
        margin-top: 0px;
    }

    @include respond(md) {
        padding: 2rem;

    }



    .body {
        display: flex;
        max-width: 1400px;
        gap: 5rem;
        position: relative;
        flex-direction: column;
        align-items: center;


        p {
            margin: 0px;
            color: rgb(0, 0, 0);

            @include respond(xs) {
                font-size: 0.3rem;
            }

            &:nth-of-type(1) {
                gap: 8px;
                font-size: 30px;
                line-height: 1.5;

                span {
                    margin-right: 3px;
                }

                .word {
                    position: relative;
                    display: inline-flex;
                    overflow: hidden;

                    @include respond(xs) {
                        font-size: 1.1rem;
                    }
                }
            }

            &:nth-of-type(2) {
                width: 80%;
                font-size: 22px;
                font-weight: 400;
                color: rgb(123, 123, 118);

                @include respond(xs) {
                    font-size: 0.3rem;
                }
            }
        }

    }


}

.buttonWrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}


.button {
    border: solid 1px gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    background-color: white !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include respond(xs) {
        padding: 1rem;
        font-size: 1rem;
    }

    &:hover {
        color: rgb(255, 255, 255) !important;
        background-color: black !important;
    }
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    gap: 1rem;
}