@import "../../styles/breakpoints";

.Certifications {
    .body {
        display: flex;
        flex-direction: column;
        padding: 24px 0px;

        .heading {
            display: flex;
            align-items: center;
            border-bottom: solid 1px rgb(101, 101, 101);
            padding: 0px 8px;

            @include respond(sm) {
                display: none;
            }



            p {
                flex: 1;
                text-align: start;

                margin-left: 50px;

                &:nth-child(1) {
                    margin-left: 0px;
                }


            }
        }

        .certificate {
            display: flex;
            align-items: center;
            border-bottom: solid 1px rgb(142, 142, 142);
            padding: 24px 8px;

            @include respond(sm) {
                flex-direction: column;
            }

            .imageContainer {
                flex: 1;
                position: relative;
                width: 400px;
                height: 250px;
                aspect-ratio: 1;


                .image {
                    object-fit: cover;
                    border: solid 1px rgb(234, 234, 234);
                }

                @include respond(sm) {
                    width: 300px;
                    height: 200px;
                    aspect-ratio: 1.5;
                }
            }

            p {
                text-align: start;
                display: flex;
                flex: 1;
                justify-content: start;
                box-sizing: border-box;
                margin-left: 50px;


                @include respond(sm) {
                    margin-left: 0;
                    text-align: start;

                    &:first-child {
                        text-align: start;
                    }
                }
            }


        }
    }
}