@import '../../../styles/breakpoints';

.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: solid 1px rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;

    @include respond(lg) {
        gap: 1rem;
    }


    @include respond(sm) {
        flex-direction: column;
        padding: 0.5rem;
        align-items: start;

    }

    h2 {
        font-size: 80px;
        margin: 0px;
        line-height: 70px;
        font-weight: 400;
        transition: all 0.4s;

        flex: 1;

        @include respond(sm) {
            font-size: 2rem;
        }

        @include respond(lg) {
            font-size: 2rem;
        }


    }

    p {
        transition: all 0.4s ease-in-out;
        font-weight: 300;
        flex: 1;
    }

    &:last-child {
        border-bottom: solid 1px rgb(201, 201, 201);
    }

    &:hover {
        opacity: 0.5;

        h2 {
            transform: translateX(-10px);
        }

        p {
            transform: translateX(10px);
        }
    }
}